absl-py==0.7.1
astor==0.7.1
backcall==0.1.0
bleach==3.0.2
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
Cython==0.29.11
decorator==4.3.0
defusedxml==0.5.0
entrypoints==0.2.3
future==0.17.1
gast==0.2.0
google-pasta==0.1.7
graphviz==0.10.1
grpcio==1.16.0
h5py==2.8.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
ipykernel==5.1.1
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itchat==1.2.32
jedi==0.13.2
jieba==0.39
Jinja2==2.10.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-core==4.4.0
jupyter-nbextensions-configurator==0.4.1
kafka-python==1.4.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
lightgbm==2.2.3
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
mistune==0.8.4
moviepy==1.0.0
nbconvert==5.4.0
nbextensions==0.1.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.16.3
opencv-python==3.4.3.18
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.5
Pillow==5.2.0
proglog==0.1.9
prometheus-client==0.5.0
prompt-toolkit==2.0.7
protobuf==3.8.0
py4j==0.10.7
pycocotools==2.0
Pygments==2.3.1
PyHDFS==0.2.1
pyparsing==2.2.0
pypng==0.0.19
PyQRCode==1.2.1
pyspark==2.3.3
python-dateutil==2.7.3
python-votesmart==0.3.3
pytz==2018.5
pywinpty==0.5.5
PyYAML==5.1.1
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.11.0
sklearn==0.0
tensorboard==1.14.0
tensorboardX==1.7
tensorflow==2.3.1
tensorflow-estimator==1.14.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
torch==1.1.0
torchvision==0.3.0
tornado==5.1.1
tqdm==4.32.2
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.4
widgetsnbextension==3.4.2
wrapt==1.11.2
wxpy==0.3.9.8
xgboost==0.81
